<section class="container-fluid">
    <section class="row justify-content-center">
        <section class="col-12 col-sm-6 col-md-4">
            <form class="form-container" #userForm="ngForm" (ngSubmit)="signUp(userForm)">
                <input type="hidden" name="_id" #_id="ngModel" ngModel>
                <div class="form-group">
                    <h4 class="text-center font-weight-bold logo"> Sign Up </h4>
                    <label for="InputEmail1">Name</label>
                    <input type="text" class="form-control" id="name" name="username" #username="ngModel"
                        placeholder="Enter name" ngModel required>
                </div>
                <div class="form-group">
                    <label for="InputEmail1">Email Address</label>
                    <input type="email" class="form-control" id="InputEmail1" ngModel name="email" #email="ngModel"
                        placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="InputPassword1">Password</label>
                    <input type="password" class="form-control" id="InputPassword1" placeholder="Password" ngModel name="password" #password="ngModel" required>
                </div>
                <div class="form-group">
                    <label for="InputPassword1">Confirm password</label>
                    <input type="password" class="form-control" id="cpassword" placeholder="Password" ngModel name="confirmPassword" #confirmPassword="ngModel" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-3" [disabled]="!userForm.valid">Submit</button>
                <div class="form-footer">
                    <p> Already have an account? <a routerLink="/login">Sign in</a></p>

                </div>
            </form>
        </section>
    </section>
</section>